
* {box-sizing: border-box;}

body {font-family: Arial, Helvetica, sans-serif;}

header {
    height: 185px;
    background-color: rgb(249, 249, 249);
    padding: 10px;
    font-size: 30px;
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#logo {
    margin: 5;
    padding: 5;
    width: 157px;
    height: 171px;
}

#titulo {
    margin: 15px 10px 0px 5px;
    padding: 1px 10px 1px 5px;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 5px 15px 5px 15px;
    padding: 0px;
    
}

li a {
    float: left;
    margin: 5px 15px 5px 15px;
    padding: 0px;
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    color: black;
}

li a:hover {
    background-color: #eb7eb8;
    color: whitesmoke;
    border-radius: 5px;
    margin: 5px 15px 5px 15px;
}

hr {
    position: absolute;
    height: 4px;
    color: black;
    background-color: black;
    width: 90%;
    top: 138px;
    left: 35px;
}

main {
    background-color: rgb(245, 245, 245);
    /*rgb(245, 245, 245)*/
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    
    /* Propiedades flexbox: */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1%;
}

.news{
    margin-left: 1%;
    padding: 0;
    width: 60%;
    text-align: justify;
    margin-right: 1%;
}

.news h5 {color:silver; line-height: 0.1em;}

.popularVideos {
    margin: 5% 1% 5% 1%;
    padding: 0px;
    width: 100%; 
    font-size: 0.8em;
    line-height: 1.2em;
    background-color: rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.popularVideos article img {
    float: left; 
    margin-right: 3%;
    text-align: justify;
}

.followUs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

figure {margin-left: 0;}
figure img {float:left;}

figure a {
    float: left;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 8px;
} 